@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  width: 300px;
}

.card img {
  object-fit: cover;
  height: 16rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card h2 {
  color: #2d3748;
}

.card p {
  color: #4a5568;
}
