@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  width: 300px;
  height: 500px;
  position: relative;
}

.card button.favorisbtn{
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  background-color: green;
  color: white;
}

.card img {
  object-fit: cover;
  height: 16rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card:hover button.favorisbtn {
  bottom: 20px;
}

.card .blabla button.detail{ 
position: absolute;
top: 80px;
right: -50px;
transform: translateY(-50%);
background-color: #007bff;
color: #fff;
border: none;
font-size: 16px;
cursor: pointer;
transition: all 0.3s ease;
color: white;
background-color: green;
}
.card:hover .blabla button.detail{
  
  right:20px
}
  


.card h2 {
  color: #4a5568;
}

.card p {
  color: #4a5568;
}

.swiper{
  height: 600px;
  background-color: #f5f6f8;
  margin: 2%;
}

.swiper-slide{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.swiper img{
  width: 370px;
  height: 480px;
}

.swiper-slide.swiper-slide-active{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper button{
  background-color: #4e836f;
  color: white;
  border-radius: 3px;
  width: 130px;
  height: 45px;
  background: linear-gradient(to left, #4e836f 50%, #395348 50%) right;
  background-size: 200%;
  transition: 1s ease-out;
}

.swiper h2{
  color: #4e836f;
  font-weight: 600;
  margin-bottom: 5%;
  font-size: 20px;
}

.swiper h1{
  color: #293e4d;
  font-weight: bolder;
  font-size: 60px;
}
.swiper p{
  margin-bottom: 5%;

}

.swiper span{
  margin-bottom: 5%;
  padding-top: 100%;
}

.swiper button:hover{
  background-position: left;
  
}

.swiper-button-next{
  background-color: #32af32;
  border-radius: 100%;
  height: 235px;
  width: 170px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 25px;
  color: white;
}

.swiper-button-prev{
  background-color: #32af32;
  border-radius: 100%;
  height: 235px;
  width: 170px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: white;
  font-size: 25px;
}

.section2{
  display: flex;
  justify-content: space-evenly;
}

.livre1{
  display: flex;
  margin-bottom: 2%;
  overflow:hidden;
  width: 500px;
}


.livre1 div{
  margin: 7%;
  width: 300px;
}

.livre1 h1{
  color: green;
  font-weight: 700;
  margin: 1%;
  margin-bottom: 5%;
}


.livre1 h2{
  font-weight: 700;
  font-size: 18px;
}

.livre1 span{
  color: green;
  font-weight: 450;
}

.livre1 p{
  margin-top: 5%;
}

.livre1 img{
  width:100%;
  height:auto;  
}
.livre1 img:hover{
  width:100%;-webkit-transform:scale(1.0);
  transform:scale(1.1);
  -webkit-transition:1s ease-in-out;
  transition:0.2s ease-in-out;
}

.lastsection{
    display: flex;
    justify-content: center;
    width: 900px;
    margin-left: 300px;
    height: 300px;
    margin-bottom: 3%;
}
.lastsection img{
  width: 450px;
  height: 230px;
  border-radius: 3px;
}


.lastsection div{
    display: flex;
    align-items: center;
}

.lastsection .sub{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;
}

.lastsection .sub h1{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5%;
}
.lastsection .sub h2{
  font-size: 20px;
  margin-bottom: 5%;
}

.lastsection .sub .icon button{
  margin-left: 3%;
  background-color: green;
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastsection .sub .icon button:hover{
  
  background-color: rgb(4, 61, 4);
  
}
.lastsection .sub div input{
  margin-bottom: 5%;
  height: 33px;
}
.lastsection .sub div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastsection .sub button{
  background-color: green;
  color: white;
  height: 25px;
}
.lastsection .sub div input{
  box-shadow: 2px 2px 2px rgba(172, 166, 166, 0.282);
}


.allbook{
  display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shadow{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 426px) {
  .lastsection {
    margin-left: 20px;
    width: 2%;
  }
  .navbar{
    flex-direction: column;
  }
  .swiper-slide.swiper-slide-active{
    flex-direction: column;
  }

  .swiper h1{
    font-size: 15px;
  }
  .swiper span{
    font-size: 11px;
  }
  .swiper p{
    font-size: 11px;
  }
  .textcarou{
    text-align: center;
  }
  .section2{
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
  }
  .livre1{
    width: 80%;
  }
  .livre1 img {
    width: 45%;
    object-fit: cover;
    height: auto;
  }
  .txtcarou{
    text-align: center;
  }
  
}